server:
  port: 8100
  servlet:
    session:
      timeout: 60m

spring:
  application:
    name: coding-assignment-steps-counter

authentication:
    username: admin
    userpwd: admin

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html